/* General */

a:hover {
	text-decoration: none;
}

.main {
	text-align: center;
}

.container {
	margin: 0;
	padding: 0;
	width: 100%;
	padding-bottom: 50px;
}

/* Header & Menu */

span.genericon.genericon-twitter {
	font-size: 20px;
}

.tagline {
	font-size: 14px;
	font-style: italic;
}

/* Footer */

.footercontainer a, .footercontainer {
	color: #777;
}

.footercontainer {
	text-align: center;
	padding-top: 15px;
}

.navbar-bottom {
	margin: 20px 0px 0px 0px;
}

/* Clock */

#minutes, #seconds {
	font-size: 50px;
	padding: 10px;
	margin: 5px;
	border: 1px solid black;
	display: inline-block;
}

#controls {
	display: block;
	padding-top: 30px;
}

.glyphicon-play, .glyphicon-stop, .glyphicon-pause {
	display: inline-block;
	font-size: 40px;
	padding-top: 10px;
}

#label {
	display: block;
	font-size: 10px;
}

.intervalMarker {
	margin-top: 20px;
}

.timeselector {
	padding-bottom: 30px;
}

/* Todo List */

.break {
	width: 50%;
	margin: 30px auto;
}

.input-group {
	width: 50%;
	margin: 20px auto;
}

.strike {
	text-decoration: line-through;
}