/* General */

a:hover {
	text-decoration: none;
}

.main {
	text-align: center;
}

/* Header & Menu */

span.genericon.genericon-twitter {
	font-size: 20px;
}

.tagline {
	font-size: 14px;
	font-style: italic;
}

/* Footer */

.footercontainer a, .footercontainer {
	color: #777;
}

.footercontainer {
	text-align: center;
	padding-top: 15px;
}

.navbar-bottom {
	margin: 20px 20px 0px 20px;
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Clock */

#minutes, #seconds {
	font-size: 50px;
	padding: 10px;
	margin: 5px;
	border: 1px solid black;
	display: inline-block;
}

#controls {
	display: block;
}

.glyphicon-play, .glyphicon-stop, .glyphicon-pause {
	display: inline-block;
	font-size: 40px;
	padding-top: 10px;
}

#label {
	display: block;
	font-size: 10px;
}

.resting {
	background-color: #00ff00;
}